# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local Databases & Heavy Files
qdrant_db/
test_db/
*.pkl
*.sqlite3

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints
